
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto:300,400,500,700,900');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Landing page
body
{
  font-family: 'Open Sans', sans-serif;
}

a
{
  color: #5147FF !important;
}

a:hover
{
  text-decoration: none !important;
  opacity: 0.7 !important;
}

.btn-primary
{
  background-color: #5147FF;
  border-color: #473fea;
}

.btn-primary:hover
{
  background-color: #413ac9;
  border-color: #413ac9;
}

#menu
{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  background-color: #fff;
}

#menu h1
{
  color: #5147FF;
  font-weight: 700;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

#menudroite
{
  display: inline-block;
  float: right;
  margin-top: 25px;
}

#menudroite li
{
  display: inline-block;
  margin-left: 50px;
}

#menudroite a, #menudroite a:visited, #menudroite a:active, #menudroite a:hover
{
  color: #797979;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

#liencoif
{
  color: #5147FF !important;
  border: 1px solid #5147FF;
  border-radius: 4px;
  padding: 8px;
}

.color
{
  color: #5147FF !important;
}

// Content landing page

#contentlanding
{
  position: relative;
}

#meufdufond
{
  width: 100vw;
  transition: 0.5s ease-in-out;
}

#meufdufond:hover
{
  filter: blur(5px);
}

#slogan
{
  font-weight: 700;
  font-size: 48px;
  color:#fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

#leformdebg
{
  padding: 5px;
  font-weight: 300;
  background-color: #fff;
  font-size: 15px;
  width: 60%;
  border-radius: 4px;
}

#contentlanding #leformdebg
{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#leformdebg label
{
  font-weight: 400;
}

#inscription
{
  color: #797979 !important;
}

#ou input, #quand input, #nom input
{
  border: 0px solid #000;
  height: 50px;
  padding: 10px;
  width: 200px;
}

#ou, #quand, #nom
{
  float: left;
  padding: 10px;
}

#btrecherche
{
  float: left;
  padding: 10px;
}

#btrecherche input
{
  padding: 10px;
  font-size: 19px !important;
  line-height: 15px !important;
  letter-spacing: undefined !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #ffffff !important;
  padding-right: 18px !important;
  padding-left: 18px !important;
  border-radius: 4px !important;
  border: 0px !important;
  background: #5147FF !important;
  margin: 12px !important;
  height: 48px !important;
}

// Connexion + Inscription

label
{
  font-weight: 300;
}

// Search

.card
{
  background-color: #fff;
  border-radius: 4px;
  margin: 10px;
  padding: 5px;
}

.card p
{
  margin: 0;
}

.card img
{
  width: 100%;
}

.card h3
{
  font-weight: 300;
  margin-bottom: 0;
}

.card .type, .card .nbCoiffeur
{
  color:#979797;
}

.card .tache
{
  color: #5147FF;
}

#btVoirFiche
{
  height: 170px;
  position: relative;
}

#btVoirFiche button
{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

#contentsearch
{

}

#contentsearch #leformdebg
{
  overflow: auto;
  width: 100%;
}

#contentsearch #leformdebg #btrecherche
{
  float: right;
}

// Gestion boutique

.col-md-8 .radio-inline {
  width: 275px;
}

.r2 {
  width: 70px!important;
}

form{
  margin-bottom: 50px;
}

.panel-body {padding: 0}

.un_coiffeur {
  border: 1px solid #c3c3c3;
  height: 200px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  background-color: #fff;
  padding: 10px;
}

.un_coiffeur h4
{
  font-size: 20px;
}